body{
background-image: url("img/happy_turtle.jpg")
}

div.box {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas:
    "header  header"
    "main    aside"
    "footer  footer";

    margin-left:auto;
    margin-right: auto;
    max-width: 800px;

}

header {
  grid-area: header;
}

main {

  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

@media (max-width: 600px) {
  div.box {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }
}
